{{#if isLoggedIn}}
  <h2>Welcome, {{user.username}}!</h2>
  <p>Your id is <strong>{{user.id}}</strong>.</p>
{{/if}}
<h5 class="center-align indigo-text text-lighten-5">Generate a workout with ease using our app. It's as simple as</h5>

<div class="row">
  <div class="col m4">
    <div class="card">
      <div class="card-image">
        <img src="/assets/fitness-1.jpeg">
        <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">He looks like he's ready CPPT, are you?</span>
      </div>
      <div class="card-content">
        <p>Get the information you need for long distance traversal at your preferred level of intensity!</p>
      </div>
      <div class="card-action">
        <a href="#">Jump in with this jogger!</a>
      </div>
    </div>
  </div>
  <div class="col m4">
    <div class="card">
      <div class="card-image">
        <img src="/assets/fitness-2.webp">
        <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">He looks like Adonis, with our app and hard work so will you</span>
      </div>
      <div class="card-content">
        <p>We offer a variety of excerises including in muscle enhancing techniques in addition to HiiT.</p>
      </div>
      <div class="card-action">
        <a href="#">Tap in to start lifting</a>
      </div>
    </div>
  </div>
    <div class="col m4">
    <div class="card">
      <div class="card-image">
        <img src="/assets/fitness-3.jpeg">
        <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">At the request of Mr. Argent, females welcome!</span>
      </div>
      <div class="card-content">
        <p>Some of our staff felt it necessary to be overly inclusive so options for women have been added for their convenience</p>
      </div>
      <div class="card-action">
        <a href="#">Women start here</a>
      </div>
    </div>
  </div>
</div>

<h6 class="indigo-text text-lighten-5">Choose your workout day</h6> 
<h6 class="indigo-text text-lighten-5">Choose your workout area </h6> 
<h6 class="indigo-text text-lighten-5">Get your workout on!</h6>
<h6 class="indigo-text text-lighten-5">Its that easy!</h6>
{{#unless isLoggedIn}}
  <br />
  <h5 class="center-align indigo-text text-lighten-5">Are you ready for your Git-Fit journey?</h5>
<button class='center-align btn waves-effect waves-light hoverable amber black-text' type='submit'>Let us help you Git-Fit</button>
{{/unless}}



<script src='/js/signup.js'></script>