{{#if isLoggedIn}}
  <h2 class="center-align">Welcome, {{user.email}}!</h2>
  <h6 class="center-align">Your id is <strong>{{user.id}}</strong>.</h6>
{{/if}}
<h5 class="center-align indigo-text text-lighten-5">Generate a workout with ease using our app. It's as simple as</h5>

<div class="row">
  <div class="col m4">
    <div class="card large">
      <div class="card-image">
        <img src="/assets/fitness-1.jpeg">
        <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">He looks like he's ready CPPT, are you?</span>
      </div>
      <div class="card-content">
        <p>Get the information you need for long distance traversal at your preferred level of intensity!</p>
      </div>
      <div class="card-action">
        <a href="#">Jump in with this jogger!</a>
      </div>
    </div>
  </div>
  <div class="col m4">
    <div class="card large">
      <div class="card-image" name="">
        <img src="/assets/fitness-2.webp">
        <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">He looks like Adonis, with our app and hard work so will you</span>
      </div>
      <div class="card-content">
        <p>We offer a variety of excerises including in muscle enhancing techniques in addition to HiiT.</p>
      </div>
      <div class="card-action">
        <a href="#">Tap in to start lifting</a>
      </div>
    </div>
  </div>
    <div class="col m4">
    <div class="card large">
      <div class="card-image">
        <img src="/assets/fitness-3.jpeg">
        <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);"></span>
      </div>
    </div>
  </div>
</div>
{{#if isLoggedIn}}
<div class='center-align'>
  <a href='/workoutform'>
    <button class='btn waves-effect waves-light hoverable amber black-text' type='submit' name="getworkout">Get your workout!</button>
  </a>
</div>
{{/if}}
{{#unless isLoggedIn}}
  <br />
<div class='center-align'> 
  <h5 class="indigo-text text-lighten-5">Are you ready for your Git-Fit journey?</h5>
<button class='center-align btn waves-effect waves-light hoverable amber black-text' type='submit' name='signup'>Let us help you Git-Fit</button>
</div>
{{/unless}}
