{{#if isLoggedIn}}
<h2>Welcome!</h2>
{{/if}}
<h5 class="center-align indigo-text text-lighten-5">Good Results Start With a Good Workout.</h5>

<div class="row">
  <div class="col m4">
    <div class="card">
      <div class="card-image">
        <img src="/assets/fitness-1.jpeg">
        <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Sign-up or Login</span>
      </div>
    </div>
  </div>
 <div class="col m4">
    <div class="card">
      <div class="card-image">
        <img src="/assets/fitness-3.jpeg">
        <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Choose a Day</span>
      </div>
    </div>
  </div>
  <div class="col m4">
    <div class="card">
      <div class="card-image">
        <img src="/assets/fitness-2.webp">
        <span class="card-title" style="width:100%; background: rgba(0, 0, 0, 0.5);">Choose a Workout</span>
      </div>
    </div>
  </div>
</div>
{{#if isLoggedIn}}
<div class='center-align'>
  <a href='/workoutform'>
    <button class='btn waves-effect waves-light hoverable amber black-text' type='submit' name="getworkout">Get your workout!</button>
  </a>
</div>
{{/if}}
{{#unless isLoggedIn}}
<br />
<h5 class="center-align indigo-text text-lighten-5">Are you ready for your Git-Fit journey?</h5>
<button class='center-align btn waves-effect waves-light hoverable amber black-text' type='submit'>Let us help you
  Git-Fit!</button>
{{/unless}}
