<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
<div class="valign-wrapper row login-box">
  <div class="indigo lighten-4 col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
  <h4 class="center-align">Login</h4>
      <form class='login-form center-align'>
      <label for='E-mail address' class="Black-text">E-mail address</label><br />
      <input type='text' name='E-mail address' id='E-mail address' /><br />
      <label for='password' class="Black-text">Password</label><br />
      <input type='password' name='password' id='password' /><br />
      <button class="btn waves-effect waves-light hoverable amber black-text" type="submit" name="action">Submit</button>
      </form>
  </div>
</div>
<div class="valign center-align 16px"> 
      <p>Don't have an account yet? <a href='/signup' class="16px amber-text">Sign Up Here</a></p>
</div>
<script src='/js/login.js'></script>
<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>