<div class="valign-wrapper row login-box">
  <div class="indigo lighten-4 col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">     
  <h4 class="center-align">Signup</h4>
      <form class='signup-form center-align'>
      <label for='email' class="Black-text">Email</label><br />
      <input type='text' name='email' id='email' /><br />
      <label for='password' class="Black-text">Password</label><br />
      <input type='password' name='password' id='password' /><br />
      <label for='confirm-password' class="Black-text">Confirm Password</label><br />
      <input type='password' name='confirm-password' id='confirm-password' /><br />
      <button class='btn waves-effect waves-light hoverable amber black-text' type='submit'>Submit</button>
    </form>
  </div>
</div>
<div class="valign center-align 16px"> 
    <p>Already have an account? <a href='/login' class="16px amber-text">Login Here</a></p>
</div>
<script src='/js/signup.js'></script>