   <div class="workout-container center">
    <div class="box">
        <div class="info">

            <br><br>

                {{#each workout as |excersise|}}
                   <div>{{excersise.exercise_list.[0].obj.name}}</div>
                   <div>{{excersise.exercise_list.[0].setting_text}}</div>
                {{/each}}
        </div>
    </div>
</div>

            
              