<div class="workout-container">
    <div class="box">
        <div class="info">
            <h1>{{data.title}}</h1>
            
            {{{data.desc}}}
             {{#each workout as |w|}}
        <option value="{{w.id}}">{{w.name}}</option>
      {{/each}}
            <br><br>
        </div>
    </div>
</div>