<form action="/workout">
<div>
  <label></label>
    <select name="weekday"class="container left browser-default col s4">
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="4">Thursday</option>
      <option value="5">Friday</option>
      <option value="6">Saturday</option>
      <option value="7">Sunday</option>
    </select>
<<<<<<< HEAD
    <select class="container left browser-default col s4">
      <option value="">Choose a Workout</option>
      <option value="1">Chest</option>
      <option value="2">Back</option>
      <option value="3">Legs</option>
      <option value="4">Arms</option>
      <option value="5">Shoulders</option>
    </select>
</div>
  <button class='btn waves-effect waves-light hoverable amber black-text' type='submit'>Submit</button>
  </form>
=======
<<<<<<< HEAD
    <select class="container right browser-default col s4">
      <option value="" disabled selected>Choose your option</option>
      <option value="8">Legs</option>
      <option value="9">Chest</option>
      <option value="10">Back & Biceps</option>
      <option value="11">Shoulders & Triceps</option>
    </select>
</div>
<div class="center-align">
  <a href='/workout'>
    <button class='btn waves-effect waves-light hoverable amber black-text' type='submit'>Submit</button>
  </a>  
</div>
=======
    <select name="workoutId" class="container left browser-default col s4">
      <option value="" disabled selected>Choose your option</option>
      {{#each workouts as |w|}}
        <option value="{{w.id}}">{{w.name}}</option>
      {{/each}}
     </select>
</div>
  <button class='btn waves-effect waves-light hoverable amber black-text' type='submit'>Submit</button>
</form>
>>>>>>> 8985b82eb5a0d607127976576c760c68f004e6b6
>>>>>>> 6b94ca61ced9ef4f16ddd24c7670e7b9f7dbbf45
