   </br>
<div class="container indigo lighten-4 hoverable">
  <table class="centered responsive-table">
    <thead>
      <tr>
        <th>Workout</th>
        <th>Reps and Sets</th>
      </tr>
    </thead>
    <tbody>
        {{#each workout as |excersise|}}
      <tr>
        <td><div>{{excersise.exercise_list.[0].obj.name}}</div></td>
        <td><div>{{excersise.exercise_list.[0].setting_text}}</div></td>
      </tr>
        {{/each}}
    </tbody>
  </table>
</div>

            
              