<div>
  <label></label>
    <select class="container left browser-default col s4">
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="3">Thursday</option>
      <option value="3">Friday</option>
      <option value="3">Saturday</option>
      <option value="3">Sunday</option>
    </select>
    <select class="container left browser-default col s4">
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Legs</option>
      <option value="2">Chest</option>
      <option value="3">Back & Biceps</option>
      <option value="3">Shoulders & Triceps</option>
    </select>
</div>
  <button class='btn waves-effect waves-light hoverable amber black-text' type='submit'>Submit</button>