<div>
  <label></label>
    <select class="container left browser-default col s4">
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="4">Thursday</option>
      <option value="5">Friday</option>
      <option value="6">Saturday</option>
      <option value="7">Sunday</option>
    </select>
    <select class="container right browser-default col s4">
      <option value="" disabled selected>Choose your option</option>
      <option value="8">Legs</option>
      <option value="9">Chest</option>
      <option value="10">Back & Biceps</option>
      <option value="11">Shoulders & Triceps</option>
    </select>
</div>
<div class="center-align">
  <a href='/workout'>
    <button class='btn waves-effect waves-light hoverable amber black-text' type='submit'>Submit</button>
  </a>  
</div>