<form action="/workout">
<div>
  <label></label>
    <select class="container left browser-default col s4">
      <option value="">Choose a Day</option>
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="3">Thursday</option>
      <option value="3">Friday</option>
      <option value="3">Saturday</option>
      <option value="3">Sunday</option>
    </select>
    <select class="container left browser-default col s4">
      <option value="">Choose a Workout</option>
      <option value="1">Chest</option>
      <option value="2">Back</option>
      <option value="3">Legs</option>
      <option value="4">Arms</option>
      <option value="5">Shoulders</option>
    </select>
</div>
  <button class='btn waves-effect waves-light hoverable amber black-text' type='submit'>Submit</button>
  </form>