<form action="/workout">
<div>
  <label></label>
  <br><br>
    <select name="weekday"class="container center browser-default col s4">
      <option value="">Choose a Day</option>
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="4">Thursday</option>
      <option value="5">Friday</option>
      <option value="6">Saturday</option>
      <option value="7">Sunday</option>
    </select>
     <br><br>
    <select name="workoutId" class="container center browser-default col s4">
      <option value="">Choose a Workout</option>
      {{#each workouts as |w|}}
        <option value="{{w.id}}">{{w.name}}</option>
      {{/each}}
     </select>
</div>
<br><br>
<div class="center-align">
  <button class='btn waves-effect waves-light hoverable amber black-text' type='submit'>Submit</button>
  </div>
</form>
