<body>
    <table class="indigo lighten-5 centered container responsive-table">
        <thead>
            <tr>
                <td></td>
                <td><h3 class="indigo lighten-5 card-panel container center-align">Monday Legs</h3></td>
            </tr>
        </tbody>
    </table>
</body>